.col-sm-3 {
	border: 2px solid black;
}

.col-sm-6 {
	text-align: center;
}

ol,ul {
	font-size: 24px;
}
#MB {
	border: 2px solid black;
	text-align: center;
	margin-top: 2%;
}
.jumbotron {
	background-image: url("https://t4.ftcdn.net/jpg/00/98/97/89/240_F_98978930_Qq4AZDC7l7FjNCVvkmIRIWESYnYb6poM.jpg");
	background-size: cover;
}

#smack{
	width: 90%;
}

#minutes{
	max-width: 150px;
}

#addWorkout, #minutes {
	margin-right: 5%; 
}
#submit {
	background-color: black;
}
#addWorkout {
	width: 250px;
	height: 50px;
	background-color: black;
	color: white;
}
