.col-sm-3 {
	border: 2px solid black;
}

.col-sm-6 {
	text-align: center;
}

ol,ul {
	font-size: 24px;
}
#MB {
	border: 2px solid black;
	text-align: center;
	margin-top: 2%;
}

#minutes{
	max-width: 150px;
}

#addWorkout, #minutes {
	margin-right: 5%; 
}
#submit {
	background-color: black;
}
#addWorkout {
	width: 250px;
	height: 50px;
	background-color: black;
	color: white;
}